<!--cost of the meal
    multi year
    receipt field
    protein column
    cant see bottom row
     -->



<!DOCTYPE html>
<html>
<head>
    <title>Data Summary</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
    <a href="{% url 'home' %}" class="nav-link button">Home</a>
    <a href="{% url 'upload_file' %}" class="nav-link button">Upload Document</a>
    <a href="{% url 'view_documents' %}" class="nav-link button">View Current Documents</a>
</nav>
<h1>Data Summary Search</h1>

<form method="post" action="{% url 'data_summary' %}">
    {% csrf_token %}
    <fieldset>
        <legend>Search by Date</legend>
        <label for="specific_date">Specific Date:</label>
        <input type="date" id="specific_date" name="specific_date" value="{{ specific_date }}">
    </fieldset>
    <fieldset>
        <legend>Search by Date Range</legend>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
    </fieldset>
    <fieldset>
        <legend>Search by Lunch Menu Item</legend>
        <label for="lunch_item">Lunch Menu Item:</label>
        <input type="text" id="lunch_item" name="lunch_item" value="{{ lunch_item }}">
    </fieldset>
    <fieldset>   <!--there are no proteins yet-->
        <legend>Search by Protein</legend>
        <label for="protein">Protein:</label>
        <input type="text" id="protein" name="protein" value="{{ protein }}">
    </fieldset>
    <button type="submit">Search</button>
</form>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% elif data %}
    <h2>Data Summary</h2>
    
    <div id="sort-message" style="color: green; margin-bottom: 10px;"></div>
    <table id="data-table" border="1">
        <thead>
            <tr>
                {% for key in data.0.keys %}
                    <th onclick="sortTable('{{ key }}')" style="cursor: pointer;">
                        {{ key }}
                    </th>        
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for key, value in row.items %}
                        {% if key != 'Image' %}
                            <td style="text-align: center;">{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<script src="{% static 'js/js.js' %}"></script>              
</body>
</html>
